<div class="animated fadeIn">
      <div class="card">
             <div class="card-header">
                <p><strong>Total participants :</strong> {{ totalCount }}</p>
             </div>
        </div>     
<div>
    <div>
        <div>
    <!--
        <p><strong>Doctorants :</strong> {{ percentDoctorants | number: '1.1-1' }}%</p>
        <p><strong>Projets en startup :</strong> {{ percentStartup | number: '1.1-1' }}%</p>
        <p><strong>Moyenne publications :</strong> {{ avgPubs | number: '1.1-1' }}</p>
    -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="container"></div>
            </div>
            <div class="col-md-6">
                <div id="container2" ></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="container3"></div>
            </div>
            <div class="col-md-6">
                <div id="container4" ></div>
            </div>
        </div>
       

    </div>
</div>
  </div>